@{
    ViewData["Title"] = "Home Page";
    Layout = "_StartPage";
}

<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="~/img/videocards.jpg" alt="Card image cap">

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title"><a>Видеокарты</a></h4>
        <!-- Text -->
        <p class="card-text"></p>
        <!-- Button -->
        <a asp-controller="GraphicsCard" asp-action="Index" class="btn btn-primary">Подробнее...</a>
    </div>
</div>

<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="~/img/ram.jpg" alt="Card image cap">

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title"><a>Оперативная память</a></h4>
        <!-- Text -->
        <p class="card-text"></p>
        <!-- Button -->
        <a asp-controller="Ram" asp-action="Index" class="btn btn-primary">Подробнее...</a>
    </div>
</div>

<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="~/img/dims.jpg" alt="Card image cap">

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title"><a>Процессоры</a></h4>
        <!-- Text -->
        <p class="card-text"></p>
        <!-- Button -->
        <a asp-controller="Cpu" asp-action="Index" class="btn btn-primary">Подробнее...</a>
    </div>
</div>

<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="~/img/disks.jpg" alt="Card image cap">

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title"><a>Жесткие диски</a></h4>
        <!-- Text -->
        <p class="card-text"></p>
        <!-- Button -->
        <a asp-controller="Hdd" asp-action="Index" class="btn btn-primary">Подробнее...</a>
    </div>
</div>

<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="~/img/asus1.jpg" alt="Card image cap">

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title"><a>Материнские платы</a></h4>
        <!-- Text -->
        <p class="card-text"></p>
        <!-- Button -->
        <a asp-controller="Motherboard" asp-action="Index" class="btn btn-primary">Подробнее...</a>
    </div>
</div>

<div class="card">

    <!-- Card image -->
    <img class="card-img-top" src="~/img/block.jpg" alt="Card image cap">

    <!-- Card content -->
    <div class="card-body">

        <!-- Title -->
        <h4 class="card-title"><a>Блоки питания</a></h4>
        <!-- Text -->
        <p class="card-text"></p>
        <!-- Button -->
        <a asp-controller="PowerSupply" asp-action="Index" class="btn btn-primary">Подробнее...</a>
    </div>
</div>
