@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Список ролей";
    Layout = "_AdminPanel";
}

<a class="btn btn-primary" asp-action="Create" asp-controller="Roles">Добавить роль</a>

<table class="table">
    <thead class="grey lighten-2">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Роль</th>
        <th scope="col"></th>
    </tr>
    </thead>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td>
                @if (role.Name != "admin")
                {
                    <form asp-action="Delete" asp-controller="Roles" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-danger">
                            Удалить
                        </button>
                    </form>
                }
            </td>
        </tr>
    }

</table>

