@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Мой аккаунт</a>
            <a class="dropdown-item" href="~/Account/LogOff">Log out</a>
        </div>
    </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="~/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Account/Login">Login</a>
        </li>
    }
</ul>