
@{
    ViewData["Title"] = "Index";
}

<form asp-controller="Verification" asp-action="Index">
    <input type="text" name="phoneNumber" id="phoneNumber"/>
    <button type="submit">Submit</button>
</form>

