@model Ram;
@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminPanel";
}
<style>
    .form-group {
        font-size: 18px;
        color: #282828;
    }
</style>

        <form asp-action="Edit" style="padding-top: 100px; width: 50%; margin: auto;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RamMemoryTypeId" class="control-label"></label>
                <input asp-for="RamMemoryTypeId" class="form-control" />
                <span asp-validation-for="RamMemoryTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalMemory" class="control-label"></label>
                <input asp-for="TotalMemory" class="form-control" />
                <span asp-validation-for="TotalMemory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactsNumber" class="control-label"></label>
                <input asp-for="ContactsNumber" class="form-control" />
                <span asp-validation-for="ContactsNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Throughput" class="control-label"></label>
                <input asp-for="Throughput" class="form-control" />
                <span asp-validation-for="Throughput" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplyVoltage" class="control-label"></label>
                <input asp-for="SupplyVoltage" class="form-control" />
                <span asp-validation-for="SupplyVoltage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
   


