@model WebApplication.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

    <div class="content align-content-center text-center h-100">
        <form class="text-center border border-light  w-50 p-5" asp-action="Login" asp-controller="Account" style="margin: auto; margin-top: 15%">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p class="h4 mb-4">Sign in</p>

            <!-- Email -->
            <input asp-for="Email" type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
            <!-- Password -->
            <input asp-for="Password" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

            <div class="d-flex justify-content-around">
                <div>
                    <!-- Remember me -->
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" asp-for="RememberMe" id="defaultLoginFormRemember">
                        <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                    </div>
                </div>
                <div>
                    <!-- Forgot password -->
                    <a href="">Forgot password?</a>
                </div>
            </div>

            <!-- Sign in button -->
            <button class="btn btn-info btn-block my-4 w-50" type="submit" style="margin: auto">Sign in</button>

            <!-- Register -->
            <p>
                Not a member?
                <a href="">Register</a>
            </p>

        </form>

        <p>or sign in with:</p>

        <form method="post" asp-action="ExternalLogin" asp-rout-returnUrl="@Model.ReturnUrl">
            @{
                @if (Model.ExternalLogins.Count > 0)
                {
                    foreach (var provider in Model.ExternalLogins)
                    {

                     <button type="submit" class="btn btn-primary fa-google-plus" name="provider" value="@provider.Name">@provider.Name</button>

                    }
                }
            }
        </form>
    </div>


